[submodule "snapybara-back"]
	path = snapybara-back
	url = git@github.com:SnapyBara/snapybara-back.git

[submodule "snapybara-admin"]
	path = snapybara-admin
	url = git@github.com:TON_USER/snapybara-admin.git
